/*
*  ### Navigation bar styles ###
*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;

    background-color: var(--primary-color);
    border: none;

    z-index: 100;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header img {
    height: 3rem;
}

.header .navigation {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-inline: 1rem;
}

.header .item:link,
.header .item:visited,
.header .item {
    display: flex;
    align-items: center;
    padding-inline: 1rem;

    color: var(--primary-font-color);
    text-decoration: none;
    transition: 300ms;
}

.header .item.current {
    background-color: var(--primary-selection);
    pointer-events: none;
    cursor: default;
}

.header .item:hover {
    background-color: var(--primary-hover);
}

.header .item:active {
    background-color: var(--primary-active);
}

/*
*  ### Sidebar bar styles ###
*/
.sidebar {
    position: fixed;
    background-color: #AEA79F;
    top: 46px;
    left: 0;
    bottom: 0;
    width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar-option {
    height: 75px;
    background-color: #BEB8B2;
    color: #77216F;

    border: none;
    border-top: 5px solid #B6AFA8;

    /* not selectable */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
