/* Dark mode (Normal) */
:root {
    --primary-color: #E95420;
    --primary-selection: #F29879; 
    --primary-hover: #EB6536;
    --primary-active: #F08763;

    --background-color: #333333;
    --primary-font-color: #FFFFFF;

    --index-title-bg: #222222;
    --index-shadow-color: rgba(233, 84, 32, 0.45);

    --secondary-color: #77216F;

    --secondary-gray-light: #B6AFA8;
    --secondary-gray-dark: #BEB8B2; 
    --secondary-gray-bg: #AEA79F;
}

/* Light Mode
:root {
    --primary-color: #F08763;
    --primary-selection: #E95420; 
    --primary-hover: #ED764D;
    --primary-active: #EB6536;

    --background-color: #f7f6f5;
    --primary-font-color: #FFFFFF;

    --index-title-bg: #6666;
    --index-shadow-color: rgba(233, 84, 32, 0.45);

    --secondary-color: #f7f6f5;

    --secondary-gray-light: #a49b93;
    --secondary-gray-dark: #b6afa8; 
    --secondary-gray-bg: #eceae8;
}
*/

body {
    background-color: var(--background-color);
    font-family: 'Ubuntu', Arial;
    height: 5000px;
    padding-top: 50px;
    padding-left: 200px;

    color: var(--primary-font-color);
}

body h1 {
    margin-left: 50px;    
}

.title {
    margin-top: -40px;
    /* background-color: var(--index-title-bg); */
    background-image: url("./../assets/vortex.jpg");
    object-position: center 60%;

    width: 100%;
    
    padding-bottom: 10px;
    margin-bottom: 20px;

    box-shadow: 0px 0px 10px 0px var(--index-shadow-color);
}

.title img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: block;
}

.title h1 {
    margin-top: -60px;
    text-align: center;

    margin-bottom: 0px;
}

.content {
    margin-inline: 1rem;
}

.quote-container {
    max-width: 800px;
    margin: 0 auto;
}

.quote {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 10px;
}

.quote-img {
    flex-shrink: 0;
    width: 120px;
}

.quote-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.quote-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quote-title {
    font-size: 1.5em;
    font-weight: bold;
}

.quote-text {
    font-size: 1em;
    line-height: 1.5;
}

.quote-overflow {
    font-size: 0.9em;
    color: #ccc;
}

.quote-author {
    font-size: 0.9em;
    font-style: italic;
    color: #aaa;
    margin-top: 10px;
}


